# Data Science Tools and Ecosystem

## Author
Merna Geyoushi

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular languages used for Data Science
* Common Libraries in Data Science
* Common Tools
* Few examples of evaluating Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. Plotly
3. Pandas
4. NumPy

| Data Science Tools|
---------------
|Jupyter Notebook|
|RStudio|
|VSCode|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335